*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0; /*Обнуление отступов*/
}

a {
  color: inherit; /*Наследовали цвет родителя*/
}

img {
  width: 100%; /*Масштаб картинок под ширину контейнера*/
}

button {
  font: inherit; /*Наследовали шрифт от страницы*/
}
